* {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 139, 10);
}

body {
  height: 100vh;
  width: 100vw;
  font-family: cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  color: white;
}
