* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: mediumseagreen;
  padding: 0.25rem;
}

.heading {
  height: 3rem;
  width: 320px;
  background-color: bisque;
}
