* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
}

h1 {
  text-align: center;
  color: maroon;
  padding-top: 1rem;
}
